
body {
  font-family: 'Noto Sans Mono', monospace;
  margin: 0;
  background-color: #ffffff;
}


.layout{
  padding: none;
  background-color: rgb(63, 63, 63);
  display: flex;
  flex-direction: row;
  flex-shrink: unset;
}


.sidebar{
  
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  padding-right: 0px;
}

.sidebarContainer{
  position: fixed;
  background-color: #dddddd;
  overflow-y: scroll;
  padding-top: 80px;
  min-height: 100vh - 70px;
  width: 300px;
	flex-grow: 0;
	flex-shrink: 0;
  top: 0;
  bottom: 0;
  transition: 0.3s;
  box-shadow: 10px 10px 20px -20px #000000;
  z-index: 0;
}

.sidebarContainer::-webkit-scrollbar {
  display: none;
}

.sidebarFooter {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 300px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-variant: normal;
  font-size: 12px;
  overflow: hidden;
}

.main {
  background-color: whitesmoke;
  width: 100vw;
  min-height: 100vh;
  padding-top: 20vh;
  padding-bottom: 10vh;
  transition: 0.3s;
}


.content {
  padding: 16px;
  background-color: rgb(255, 255, 255);
  max-width: 80%;
  min-width: 800px;
  margin: 0 auto;
  box-shadow: 10px 10px 20px -20px #000000;
}


.content h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  margin: 32px;
}



.rule:after {
  content: ""; /* This is necessary for the pseudo element to work. */ 
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  width: 90%; /* Change this to whatever width you want. */
  padding-top: 20px; /* This creates some space between the element and the border. */
  border-bottom: 1px solid rgb(201, 201, 201); /* This creates the border. Replace black with whatever color you want. */
}


.header{
  background-color: #000000;
  height: 62px;
  line-height: 62px;
  align-items: center;
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  vertical-align: bottom;
  box-shadow: 2px 2px 20px 0px #000000;
  z-index: 1;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-style: italic;
  color: white;
  margin-top: auto;
  margin-bottom: 0px;
  vertical-align: bottom;
  width: 100vw;
  text-align: center;
}

.sidebarButton {
  color: white;
  margin-left: 10px;
  font-family: 'Roboto', sans-serif;
}

.chapter{
  padding: 0;
  margin: 0;
  padding-left: 20px;
  min-height: 50px;
  line-height: 50px;
  vertical-align: bottom;
  
}

.chapter p{
  margin:0;
  vertical-align: bottom;
}
.chapter:hover{
  background-color: rgb(167, 167, 167);
}



.section{
  padding: 0;
  margin: 0;
  margin-left: 20px;
  vertical-align: bottom;

}

.section p{
  margin:0;
  padding:0;
  padding-top: 19px;
  padding-bottom: 1px;
  line-height: 30px;
  margin-right: 20px;
  padding-left: 20px;
  border-left: 1px solid rgb(167, 167, 167);
  border-bottom: 1px solid rgb(167, 167, 167);
}

.section:hover{
  background-color: rgb(167, 167, 167);
}

@media (max-width: 478px) {
  .title {
    font-size: 20px;
    margin-left: 20px;
    max-width: 50%;
    margin-top: 0px;
    line-height: normal;
    text-align: center;
    width: 100vh;
  }
  .sidebarButton{
    font-size: 14px;
  }
  .main {
    padding-top: 70px;
  }
  .content {
    min-width: 92vw;
  }
}

